.App {
  text-align: left;
}
.MuiPaper-root {
    padding: 1em !important;
}
h3{
    margin-top:0px;
    margin-bottom:0.2em;
}


.en{
  display:none;
}
.esp{
  display:initial;
}

.descargaCV{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.gridBlock {
  padding: 18px;
}